<h3 style="text-align: center; font-weight: bold; margin-top: 150px; margin-bottom: 100px">Компания Car Paint Workshop представляет программу Новый Сервис</h3>
<ul style="font-weight: bold">Основные цели сотрудничества:</ul>
<li style="text-align: justify">Получение минимальных цен на запчасти за счет большого количества участников программы,
  которые могут осуществлять единовременное приобретение больших партий товара.</li>
<li>Заключение прямых договоров с компаниями производителями запчастей, получение оригинальной и качественной продукции.</li>
<ul style="font-weight: bold; margin-top: 10px">Почему Новый Cервис - это качественно и доступно?</ul>
<li>Для ремонта, участники программы Новый Сервис использует только качественные запчасти,
  лучших мировых производителей – поставщиков на конвейер крупнейших автопроизводителей.</li>
<li>Работы проводятся на новейшем спецоборудовании.</li>
<li>На все ремонтные услуги предоставляется гарантия.</li>
<ul style="font-weight: bold; margin-top: 10px">Представляемые бренды:</ul>
<div class="images">
  <img alt="#" src="https://bolide.com.ua/image?img=/uploads/news/kayabalogo.png" style="height: 50px; margin-right: 10px">
  <img alt="#" src="https://cdn.autoersatzteile.de/brands/thumbs/32.png?m=0&rev=94077812" style="height: 50px; margin-right: 10px">
  <img alt="#" src="https://www.bpn.bzh/sites/default/files/inline-images/logo_bpn_transparent.png" style="height: 50px; margin-right: 10px">
  <img alt="#" src="https://arumo.ru/upload/iblock/49d/49d75e5caa608bcc6f2af05e83143fd6.png" style="height: 50px; margin-right: 10px">
</div>

