<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img alt="#" src="https://avtoceh78.ru/assets/images/icons/pokraska.png" style="height: 50px; margin-right: 10px">
  <a routerLink="/" class="navbar-brand" style="font-family: 'Brush Script MT',cursive; font-style: oblique; font-size: 24px">Car Paint Workshop</a>

  <ul class="nav justify-content-center" style="font-size: 20px">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" routerLink="/about-us">About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" style="cursor: pointer;" (click)="openContactModal()">Contacts</a>
    </li>
  </ul>
</nav>

<app-modal
  [isOpen]="modalOpen"
  (close)="closeContactModal()"
></app-modal>
