<div class="modal" tabindex="-1" [ngStyle]="{display: isOpen ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Позвони мне, позвони:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group mx-sm-3 mb-2" style="margin-top: 10px">
        <label for="inputPassword2" class="sr-only">Введите ваш номер телефона</label>
        <input type="tel" class="form-control" id="inputPassword2" placeholder="Введите ваш номер телефона">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Закрыть</button>
        <button type="button" class="btn btn-primary" (click)="callBack(); onClose()">Перезвонить</button>
      </div>
    </div>
  </div>
</div>
